body
{
    color: rgb(58, 88, 58);
    background: rgb(144, 135, 135);
}

.heading
{
    width: 80%;
    font-size: 22px;
}

#camara
{
    border: 2px dashed rgb(54, 171, 255);
    width: 350px
    height: 300px;
}
.name_of_objects, #result_object_name , #result_object_accuracy
{
    color: rgb(255, 44, 29);
}
